-const names=["edward", "dorian", "carlos"]

//bucle each (basicamente es un for)

each name, index in names
    p= `hola bienvenido ${name} y tu indice es ${index +1}`
else
    p El array esta vacio

-
    const person ={
        name: "edward",
        lastname: "navarro"
    }

each value, key in person
    li= `${key}: ${value}`

//bucle while

- let n = 0;
ul       
    while n < 4
          li= n++